#calculator {
    width: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: grey;
}

#screen {
    color: white;
    font-size: 50px;
    height: 55px;
    padding: 50px 10px 5px 10px;
    text-align: right;
    
}

#buttons {
    display: flex;
    flex-flow: row nowrap;
}

#buttons-grid {
    flex-basis: 75%;
}

button {
    width: 100px;
    height: 100px;
    font-size: 24px;

}

#buttons-sidebar {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

#equals {
    height: 200px;
}


